<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Mother name</th>
      <th>Father name</th>
      <th>Dob</th>
      <th>Aadhar no</th>
      <th>Pan no</th>
      <th>Photo</th>
      <th>Sign</th>
      <th>Cos</th>
      <th>Phno</th>
      <th>Adress</th>
      <th>Nationality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.mother_name %></td>
        <td><%= user.father_name %></td>
        <td><%= user.dob %></td>
        <td><%= user.aadhar_no %></td>
        <td><%= user.pan_no %></td>
        <td><%= user.photo %></td>
        <td><%= user.sign %></td>
        <td><%= user.cos_id %></td>
        <td><%= user.phno %></td>
        <td><%= user.adress %></td>
        <td><%= user.nationality %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
